.footer{
  width: 100%;
  height: 365px;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  bottom: 0;
}
.navBarContainer{
  display: flex;
  justify-content: space-between;
  width: 82%;
  background-color: var(--black);
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
  height: auto;
}



.h1{
  color: var(--fafaWhite);
  margin-top: 0.6rem;
  font-size: 2rem;
}

.ul{
  display: flex;
  flex-direction: row;
  color: var(--fafaWhite);
  width: 53%;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-size: .8rem;
  align-items: center;
  height: 4rem;
  margin-left: 10%;
}

.li{
  list-style-type: none;
  
}

.link{
  color: var(--fafaWhite);
  text-decoration: none;
  
}

.cart{
  margin-left: 7%;
  margin-top: 1.3rem;
}

.footerInfo{
  display: flex;
  width: 82%;
  margin: auto;
  justify-content: space-between;
  margin-top: 1rem;


}

.footerParagraph{
  color: var(--gray);
  max-width: 47%;
  line-height: 1.6rem;
  font-size: .8rem;
}

.footerLastParagraph{
  color: var(--gray);
  max-width: 62.5%;
  line-height: 2rem;
  margin-top: 3rem;
}

.footerLogos{
  display: flex;
  margin-right: 3.9rem;
  gap: 2rem;
  margin-top: 3rem;
}