@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&family=Sono:wght@300;400;500;700&display=swap');


:root {
  --fafaWhite: #FAFAFA;
  --f1f1White: #F1F1F1;
  --darkOrange: #D87D4A;
  --lightOrange: #FBAF85;
  --blackBlack: #000000;
  --black: #101010;
  --gray: #979797;
  --fontFamily: 'Manrope', sans-serif;
  
}
#__next {
  height: 100%;
  width: 100%;
}

/* 
  1. Use a more-intuitive box-sizing model.
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body,
#__next {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--mainWhite);
  font-family: var(--fontFamily);
}

