.main{
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: auto; 
  height: 60vh;
}

.product{
  display: flex;
  flex-direction: column;
  width: auto;
  margin: auto;
  text-align: center;
}

@media only screen and (max-device-width: 425px){
  .main{
    margin: auto;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}